<template>
<div>
  <router-view></router-view>
</div>
</template>

<script>
import Vue from 'vue'
import { mapActions } from 'vuex'

export default {
  name: 'app',
  created: function() {
    this.loadGroups();
  },
  methods: {
    ...mapActions([
      'loadGroups'
    ])
  }
}
</script>
