<template>
  <div>
    <nav class="indigo lighten-3">
      <div class="nav-wrapper">
        <button class="btn-large btn-flat" @click="$router.back();"><i class="large material-icons btn-back">navigate_before</i></button>
        <div class="nav-title">Новая группа</div>
        <ul id="nav-mobile" class="right">
          <li><i class="large material-icons">more_vert</i></li>
        </ul>
      </div>
    </nav>
    <br>

    <div class="container">
      <div class="input-field">
        <input id="group_name" type="text" v-model="newGroup.title" autofocus>
        <label for="group_name">Название</label>
      </div>
      <div class="row">
        <button class="col s6 waves-effect btn indigo" @click="createNewGroup">Создать</button>
        <button class="col s6 waves-effect btn-flat indigo-text" @click="$router.back();">Отмена</button>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import { mapActions } from 'vuex'
import { GROUP_TEMPLATE } from '../constants/common.js'

export default {
  template: '#create-group',
  data: function() {
    return {
      newGroup: { ...GROUP_TEMPLATE }
    }
  },
  methods: {
    ...mapActions([
      'addGroup'
    ]),
    createNewGroup: function() {
      if (this.newGroup.title.length > 0)
        this.addGroup(this.newGroup);
      this.$router.back();
    }
  }
}
</script>

<style>
</style>
