<template>
  <div>
    <nav class="indigo lighten-3">
      <div class="nav-wrapper">
        <button class="btn-large btn-flat" @click="$router.back();"><i class="large material-icons btn-back">navigate_before</i></button>
        <div class="nav-title">Новая задача</div>
        <ul id="nav-mobile" class="right">
          <li><i class="large material-icons">more_vert</i></li>
        </ul>
      </div>
    </nav>
    <br>

    <div class="container">
      <div class="input-field">
        <textarea id="task_text" class="materialize-textarea" type="text" v-model="newTask.text" autofocus></textarea>
        <label for="task_text">Текст задачи</label>
      </div>
      <div class="row">
        <button class="col s6 waves-effect btn indigo" @click="addTaskToGroup">Создать</button>
        <button class="col s6 waves-effect btn-flat indigo-text" @click="$router.back()">Отмена</button>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import { mapState, mapActions } from 'vuex'
import { TASK_TEMPLATE } from '../constants/common.js'

export default {
  template: '#create-task',
  data: function() {
    return {
      newTask: { ...TASK_TEMPLATE }
    }
  },
  computed: {
    ...mapState([ 'openedGroupId' ])
  },
  methods: {
    ...mapActions([
      'addTask'
    ]),
    addTaskToGroup: function() {
      if (this.newTask.text.length > 0)
        this.addTask({ ...this.newTask, group: this.openedGroupId });
      this.$router.back();
    }
  }
}
</script>

<style>
</style>
