<template>
  <div>
    <nav class="indigo lighten-3">
      <div class="nav-wrapper">
        <button class="btn-large btn-flat" @click="$router.back();"><i class="large material-icons btn-back">navigate_before</i></button>
        <div class="nav-title">{{ currentGroup.title }}</div>
      </div>
    </nav>

    <div class="container">
      <ul class="collapsible collection" data-collapsible="expandable">
        <li>
          <div class="collapsible-header indigo lighten-5 group-collapsible-header" @click="showEditButton">Заметки<i class="material-icons right i-open">expand_more</i>
            <div class="btn-floating waves-effect waves-light collapsible-button indigo" id="btn-edit-description" @click="editDescription">
              <i class="large material-icons i-group-button i-edit-description">create</i>
              <i class="large material-icons i-group-button i-save-description">save</i>
            </div>
          </div>
          <div class="collapsible-body group-description-body clearfix">
            <textarea class="materialize-textarea group-description">{{ currentGroup.description }}</textarea>
          </div>
        </li>
        <li class="active">
          <div class="collapsible-header active indigo lighten-5 group-collapsible-header" @click="showAddButton">Задачи<i class="material-icons right i-open">expand_more</i>
            <div class="btn-floating waves-effect waves-light collapsible-button indigo visible" id="btn-add-task" @click="createTask">
              <i class="large material-icons i-group-button">add</i>
            </div>
          </div>
          <div class="collapsible-body tasks-list row">
            <div v-if="Object.keys(currentGroup.tasks).length > 0" class="task-form">
              <task-element v-for="task in currentGroup.tasks" class="task-checkbox" :task="task"
                @showTaskContextMenu="showTaskContextMenu">
              </task-element>
            </div>
            <h5 v-else class="center-align grey-text">Задач нет</h5>
          </div>
        </li>
      </ul>
    </div>

    <ul id="modalTaskContextMenu" class="modal collection">
      <li class="collection-item" @click="handleDeleteTask">Удалить задачу</li>
    </ul>
  </div>
</template>

<script>
import Vue from 'vue'
import { mapActions, mapGetters } from 'vuex'
import taskElement from './task-element.vue'

export default {
  template: '#group-page',
  components: {
    taskElement
  },
  data: function() {
    return {
      editingDescription: false,
      activeTaskId: null
    }
  },
  computed: {
    ...mapGetters([ 'currentGroup' ])
  },
  created: function() {
    setTimeout( function() {
      $('.collapsible').collapsible();
      $('.group-description').prop('readOnly', true);
    }, 100);
  },
  methods: {
    ...mapActions([
      'updateTask',
      'editGroup',
      'deleteTask'
    ]),
    showEditButton: function() {
      let $visibleButton = $('.collapsible-header.active #btn-edit-description');
      if ($visibleButton.length === 0)
        $('.group-description').trigger('autoresize');
    },
    editDescription: function(e) {
      e.stopPropagation();
      if (this.editingDescription) {
        $('.group-description').prop('readOnly', true);
        $('.i-edit-description').removeClass('edit');
        $('.i-save-description').removeClass('edit');
        this.editingDescription = false;
        var newDescription = $('.group-description')[0].value;
        if (newDescription === this.currentGroup.description) return;
        this.editGroup({ ...this.currentGroup, description: newDescription });
      } else {
        $('.group-description').prop('readOnly', false).focus();
        $('.i-edit-description').addClass('edit');
        $('.i-save-description').addClass('edit');
        this.editingDescription = true;
      }
    },
    showAddButton: function() {
      let $visibleButton = $('#btn-add-task.visible');
      if ($visibleButton.length > 0)
        $visibleButton.removeClass('visible');
      else {
        setTimeout( function() {
          $('#btn-add-task').addClass('visible');
        }, 0);
      }
    },
    createTask: function(e) {
      e.stopPropagation();
      this.$router.push('/createtask');
    },
    checkTask: function(e) {
      this.updateTask({ id: e.target.id, isDone: e.target.checked })
    },
    showTaskContextMenu: function(id) {
      this.activeTaskId = id;
      $('#modalTaskContextMenu').modal({
        complete: () => this.activeTaskId = null
      });
      $('#modalTaskContextMenu').modal('open');
    },
    handleDeleteTask: function() {
      this.deleteTask(this.activeTaskId);
      $('#modalTaskContextMenu').modal('close');
    }
  }
}
</script>
