<template>
<v-touch @tap="loadGroup" @press="showGroupContextMenu">{{ group.title }}</v-touch>
</template>

<script>
import Vue from 'vue'
import { mapActions } from 'vuex'
import { GROUP_TEMPLATE } from '../constants/common.js'

export default {
  props: {
    'group': {
      type: Object,
      default: { ...GROUP_TEMPLATE }
    }
  },
  methods: {
    ...mapActions([ 'openGroup' ]),
    showGroupContextMenu: function() {
      this.$emit('showGroupContextMenu', this.group.id);
    },
    loadGroup: function() {
      this.openGroup(this.group.id);
      this.$router.push({ path: '/group' });
    }
  }
}
</script>
