<template>
<div>
  <div class="container">
    <ul class="collection with-header">
      <div class="collection-header indigo lighten-5"><h6>Группы</h6></div>
      <li is="group-element" v-for="group in groups" :group="group" :key="group.id" class="collection-item"
        @showGroupContextMenu="showGroupContextMenu">
      </li>
    </ul>

    <router-link class="btn-floating btn-large waves-effect waves-light btn-add-group indigo"
      to="/creategroup"><i class="large material-icons">add</i></router-link>
  </div>

  <ul id="modalGroupContextMenu" class="modal collection">
    <li class="collection-item" @click="handleDeleteGroup">Удалить группу</li>
  </ul>
</div>
</template>

<script>
import Vue from 'vue'
import { mapState, mapActions } from 'vuex'
import groupElement from './group-element.vue'

export default {
  template: '#index-page',
  components: {
    groupElement
  },
  data: function() {
    return {
      activeGroupId: null
    }
  },
  computed: {
    ...mapState([ 'groups' ])
  },
  methods: {
    ...mapActions([
      'deleteGroup'
    ]),
    handleDeleteGroup: function() {
      this.deleteGroup(this.activeGroupId);
      $('#modalGroupContextMenu').modal('close');
    },
    showGroupContextMenu: function(id) {
      this.activeGroupId = id;
      $('#modalGroupContextMenu').modal({
        complete: () => this.activeGroupId = null
      });
      $('#modalGroupContextMenu').modal('open');
    }
  }
}
</script>
