<template>
<v-touch class="task-checkbox" :key="task.id" @press="showTaskContextMenu">
  <input type="checkbox" :id="task.id" @change="checkTask" :checked="task.isDone"/>
  <label class="black-text" :for="task.id">{{ task.text }}</label>
</v-touch>
</template>

<script>
import Vue from 'vue'
import { mapActions } from 'vuex'
import { TASK_TEMPLATE } from '../constants/common.js'

export default {
  props: {
    'task': {
      type: Object,
      default: function() { return TASK_TEMPLATE }
    }
  },
  methods: {
    ...mapActions([ 'updateTask' ]),
    showTaskContextMenu: function() {
      this.$emit('showTaskContextMenu', this.task.id);
    },
    checkTask: function(e) {
      this.updateTask({ id: this.task.id, isDone: e.target.checked })
    },
  }
}
</script>
