@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/materialicons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/materialicons/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/materialicons/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/materialicons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.btn-add-group {
  position: fixed !important;
  bottom: 2.5em;
  right: 2.5em;
}

.nav-wrapper {
  height: 64px;
  line-height: 64px;
  margin: 0 20px;
}

.btn-back {
  float: left;
}

.btn-large i {
  height: 100% !important;
  line-height: 56px !important;
}

.btn-add-group {
  position: fixed !important;
  bottom: 2.5em;
  right: 2.5em;
}

.nav-title {
  display: inline-block;
  text-transform: uppercase;
}

.group-collapsible-header {
  position: relative;
}
.group-name-header {
  text-transform: uppercase;
}

.i-open {
  transition: transform .4s ease-in-out;
  margin: 0 !important;
}
.collapsible-header.active .i-open {
  transform: rotate(-180deg) !important;
}

.group-description-body {
  position: relative;
}

.btn-floating.collapsible-button {
  position: absolute !important;
  right: 3rem;
  bottom: -20px;
  opacity: 0;
  transition: opacity .15s ease-in-out !important;
  display: none;
}

.collapsible-header.active .collapsible-button {
  display: initial;
  opacity: 1;
  transition: opacity .15s ease-in-out !important;
}

.collapsible-body {
  padding: 0 1rem !important;
}

.i-group-button {
  position: absolute;
  width: 100% !important;
  line-height: 40px !important;
}

.i-edit-description, .i-save-description {
  transition: transform .4s ease-in-out,
              opacity .4s ease-in-out;
}
.i-edit-description.edit, .i-save-description:not(.edit) {
  opacity: 0;
}
.i-edit-description.edit, .i-save-description.edit {
  transform: rotate(180deg) !important;
}

.group-description {
  border-bottom: none !important;
  margin: 0 !important;
}

.task-checkbox {
  padding: 1rem !important;
}

@media screen and (max-width:800px) {
  .btn-add-group {
    bottom: 1.5em;
    right: 1.5em;
  }
}
